@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: local("Jura Regular"), local("Jura-Regular"), url("http://fonts.gstatic.com/s/jura/v7/clDsqjI_PbttUdmVwXNQ4g.woff2") format("woff2"), url("http://fonts.gstatic.com/s/jura/v7/o1dpv_G3z9EufaqvsAacjQ.woff") format("woff");
}