@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

a {
    color: #B32C0E;
    text-decoration: none;
}

    a:hover {
        color: #000000;
        text-decoration: none;
    }

body {
    background: #FFFFFF url(../images/bg.jpg) repeat-x;
}

#wrap {
    width: 900px;
    margin: 0 auto 15px auto;
    font-family: Jura, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #333333;
}

/*Header*/

#header {
    height: 250px;
    clear: both;
}

/*Welcome*/
#welcome {
    width: 300px;
    float: left;
    text-align: left;
    height: 40px;
    margin: 0 auto;
    padding-left: 20px;
    background: transparent;
}

/*Header Menu*/
#topmenu {
    display: block;
    list-style: none;
    padding: 0 0 0 278px;
    float: right;
    width: 590px;
}

    #topmenu li {
        display: inline;
        float: right;
    }

    #topmenu a {
        display: block;
        float: left;
        height: 28px;
        margin: 0 0 0 0;
        font-weight: bold;
        text-decoration: none;
        padding: 9px 15px 0 15px;
        text-align: center;
    }

        #topmenu a, #topmenu a:visited, #topmenu a:active {
            color: #FFFFFF;
        }

            #topmenu a:hover {
                color: #ffffff;
                background-color: #B52E10;
            }

    #topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active {
        color: #FFFFFF;
        background-color: #B42D0F;
    }

/*Content*/
#content {
    background-color: #FFFFFF;
}

#mainpage {
    width: 900px;
    float: left;
    padding: 5px 5px 5px 0;
    height: 600px;
}

    #mainpage p {
        line-height: 22px;
        margin: 10px 0 22px 0;
    }

h1, h2, h3, h4, h5 {
    color: #B32C0E;
    font-weight: bold;
    font-family: Jura, Arial, Helvetica, sans-serif;
}

#mainpage h1 {
    font-size: 24px;
}

#mainpage h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #B52E10;
}

#mainpage h3 {
    font-size: 20px;
}

#mainpage h4 {
    font-size: 18px;
}

#mainpage h5 {
    font-size: 16px;
}

.style_2 {
    font-size: 7px;
    color: #000011;
}

    .style_2 a {
        font-size: 7px;
        color: #000011;
    }

        .style_2 a:hover {
            font-size: 7px;
            color: #000011;
        }

#content #mainpage ol {
    margin: 10px 10px 10px 25px;
}

    #content #mainpage ol li {
        padding: 5px 5px 5px 20px;
    }

#content #mainpage ul li {
    display: block;
    padding: 0;
    border-bottom: dashed 1px #D6E4A7;
}



/*footer*/
#footer {
    margin: 0 auto;
    width: 900px;
    height: 75px;
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
    background: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    clear: both;
}


#sitename a {
    text-decoration: none;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 120px;
}

#slogan {
    text-decoration: none;
    font-style: italic;
    color: #FFFFFF;
}

#topbar {
    height: 90px;
}
